body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background .3s;
}

.container{
    margin: 0 auto;
    max-width: 600px;
    padding-top: 150px;
}

h1{
    color: white;
    text-align: center;
    line-height: 1.1;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0 ;
}
#stripe{
    background: white;
    height: 30px;
    text-align: center;
}

.selected {
    color: white;
    background: steelblue;
}
#colorDisplay{
    font-size: 200%;
}

#message{
    display: inline-block;
    width: 20%;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: inherit;
    transition: all .3s;
    outline: none;
}

button:hover{
    color: white;    
    background: steelblue;
}